{% extends 'layout.twig' %}

{% block content %}
<h2>Add User</h2>
<form action="" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <input type="submit" value="Add User">
</form>
{% endblock %}