{% extends "layout.twig" %}
{% block title %}<title>Sửa tác giả</title>{% endblock %}
{% block content %}
<main class="container mt-5 mb-5">
	<div class="row">
		<div class="col-sm">
			<h3 class="text-center text-uppercase fw-bold">Sửa thông tin tác giả</h3>
			<form action="" method="post">
				<div class="input-group mt-3 mb-3">
					<span class="input-group-text" id="lblCatId">Mã tác giả</span>
					<input type="text" class="form-control" name="txtMa_tgia" readonly value="{{ma_tgia}}">
				</div>

				<div class="input-group mt-3 mb-3">
					<span class="input-group-text" id="lblCatName">Tên tác giả</span>
					<input type="text" class="form-control" name="txtTen_tgia" value="{{ten_tgia}}">
				</div>
				<div class="input-group mt-3 mb-3">
					<span class="input-group-text" id="lblCatName">Hình ảnh</span>
					<input type="file" class="form-control" name="txtHinh_tgia" value="">
				</div>
				<div class="form-group  float-end">
					<input type="submit" value="Lưu lại" class="btn btn-success" name = "edit">
					<a href="category.php" class="btn btn-warning ">Quay lại</a>
				</div>
			</form>
		</div>
	</div>
</main>
{% endblock %}
